// yanas code
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1, h3, h5, p, label, input, button{
  font-family: 'Roboto', sans-serif;
}

h1{
font-size: 3em !important;
}

a{
  font-weight: 600;
  font-size: 1.25em;
}

h4{
  font-family: 'Squada One', cursive !important;
  font-weight: 700 !important;
  font-size: 3em !important;
}
// yanas code ends
