// Yanas code
// BANNER

.banner-image {
  background-image: url("../images/banner.png") !important;
}

.banner-heading {
	position: relative;
	height: 60vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  overflow: hidden;
	z-index: -2;
}

.banner-overlay{
  text-align: center;
  margin:0 auto;
	position: absolute;
	height: 80vh;
  background-color: rgba(255, 255, 255, 0.70);
	width: 100%;
	z-index: -1;
}
